<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
<head lang="en" th:replace="~{fragments/header :: header }"> </head>
<body>
<header id="topnav">
  <div class="navbar-overlay bg-animate"></div>
    <div th:replace="~{fragments/topnavbar :: top-navbar }"></div>
    <div th:replace="~{fragments/navbar :: navbar }"></div>
</header>
<div id="status">
  <div class="spinner"></div>
</div>
<div class="wrapper boxed-layout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <div class="btn-group"><button type="button" onClick="navigate('users');" class="btn btn-sm btn-info waves-effect waves-light">Manage Users</button></div></div>
          <h4 class="page-title">Add User</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <form action="#" method="POST" th:object="${user}" data-parsley-validate="">
              <div id="basicwizard">
                <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                  <li class="nav-item">
                    <a href="#user-details" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                      <i class="mdi mdi-account-card-details-outline mr-1"></i>
                      <span class="d-none d-sm-inline">Details</span>
                    </a>
                  </li>
                </ul>
                <div class="tab-content b-0 mb-0 pt-0">
                  <div class="tab-pane" id="user-details">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="username">Username</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="username" name="username" value="cMWZrRA5C6">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="password">Password</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="password" name="password" value="3cYYypavDJ" data-indicator="pwindicator">
                            <div id="pwindicator">
                              <div class="bar"></div>
                              <div class="label"></div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="email">Email Address</label>
                          <div class="col-md-8">
                            <input type="email" id="email" class="form-control" name="email" value="">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="member_group_id">Member Group</label>
                          <div class="col-md-8">
                            <select th:field="*{groupId}" required name="member_group_id" id="member_group_id" class="form-control select2" data-toggle="select2">
                              <option th:each="group : ${groups}"
                                      th:value="${group}"
                                      th:text="${group.groupName}" />
                            </select><br/>
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="owner_id">Owner</label>
                          <div class="col-md-6">
                            <select name="owner_id" id="owner_id" th:field="*{ownerId}" class="form-control select2" data-toggle="select2">
                              <option th:each="user : ${users}"
                                      th:value="${user.id}"
                                      th:text="${user.email} + ' (UserName: ' + ${user.username} + ')'" />
                            </select>
                          </div>
                          <div class="col-md-2">
                            <a href="javascript: void(0);" onClick="clearOwner();" class="btn btn-warning" style="width: 100%">Clear</a>
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="credits">Credits</label>
                          <div class="col-md-2">
                            <input type="text" class="form-control text-center" id="credits" onkeypress="return isNumberKey(event)" name="credits" value="0">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" id="credits_reason" name="credits_reason" placeholder="Reason for Adjustment..." value="">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="reseller_dns">Reseller DNS</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="reseller_dns" name="reseller_dns" value="">
                          </div>
                        </div>
                        <div class="form-group row mb-4">
                          <label class="col-md-4 col-form-label" for="notes">Notes</label>
                          <div class="col-md-8">
                            <textarea id="notes" name="notes" class="form-control" rows="3" placeholder=""></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                      <li class="list-inline-item float-right">
                        <input name="submit_user" type="submit" class="btn btn-primary" value="Add User" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer th:replace="~{fragments/footer :: footer }"></footer>
<script id="scripts">
  var resizeObserver = new ResizeObserver(entries => $(window).scroll());
  $(document).ready(function() {
    resizeObserver.observe(document.body)
    $("form").attr('autocomplete', 'off');
    $(document).keypress(function(event){
      if(event.which == 13 && event.target.nodeName != "TEXTAREA") return false;
    });
    $.fn.dataTable.ext.errMode = 'none';
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
    elems.forEach(function(html) {
      var switchery = new Switchery(html, {'color': '#414d5f'});
      window.rSwitches[$(html).attr("id")] = switchery;
    });
    setTimeout(pingSession, 30000);
    headerStats();
    bindHref(); refreshTooltips();
    $(window).scroll(function(){
      if ($(this).scrollTop() > 200) {
        if ($(document).height() > $(window).height()) {
          $('#scrollToBottom').fadeOut();
        }
        $('#scrollToTop').fadeIn();
      } else {
        $('#scrollToTop').fadeOut();
        if ($(document).height() > $(window).height()) {
          $('#scrollToBottom').fadeIn();
        } else {
          $('#scrollToBottom').hide();
        }
      }
    });
    $("#scrollToTop").unbind("click");
    $('#scrollToTop').click(function(){
      $('html, body').animate({scrollTop : 0}, 800);
      return false;
    });
    $("#scrollToBottom").unbind("click");
    $('#scrollToBottom').click(function(){
      $('html, body').animate({scrollTop : $(document).height()}, 800);
      return false;
    });
    $(window).scroll();
    $(".nextb").unbind("click");
    $(".nextb").click(function() {
      var rPos = 0; var rActive = null;
      $(".nav .nav-item").each(function() {
        if ($(this).find(".nav-link").hasClass("active")) {
          rActive = rPos;
        }
        if (rActive !== null && rPos > rActive && !$(this).find("a").hasClass("disabled") && $(this).is(":visible")) {
          $(this).find(".nav-link").trigger("click");
          return false;
        }
        rPos += 1;
      });
    });
    $(".prevb").unbind("click");
    $(".prevb").click(function() {
      var rPos = 0; var rActive = null;
      $($(".nav .nav-item").get().reverse()).each(function() {
        if ($(this).find(".nav-link").hasClass("active")) {
          rActive = rPos;
        }
        if (rActive !== null && rPos > rActive && !$(this).find("a").hasClass("disabled") && $(this).is(":visible")) {
          $(this).find(".nav-link").trigger("click");
          return false;
        }
        rPos += 1;
      });
    });
    (function($) {
      $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      };
    }(jQuery));
    $(".navigation-menu li").mouseenter(function() {
      $(this).find(".submenu").show();
    });
    delParam("status");
    $(window).on("popstate", function () {
      if (window.rRealURL) {
        if (window.rRealURL.split("/").reverse()[0].split("?")[0].split(".")[0] != window.location.href.split("/").reverse()[0].split("?")[0].split(".")[0]) {
          navigate(window.location.href.split("/").reverse()[0]);
        }
      }
    });
    $(document).keydown(function (e) {
      if (e.keyCode == 16) {
        window.rShiftHeld = true;
      }
    });
    $(document).keyup(function (e) {
      if (e.keyCode == 16) {
        window.rShiftHeld = false;
      }
    });
    document.onselectstart = function() {
      if (window.rShiftHeld) {
        return false;
      }
    }
  });
  function clearOwner() {
    $('#owner_id').val("").trigger('change');
  }
  $(document).ready(function() {
    $('select.select2').select2({width: '100%'})
    $('#owner_id').select2({
      ajax: {
        url: './api',
        dataType: 'json',
        data: function (params) {
          return {
            search: params.term,
            action: 'reguserlist',
            page: params.page
          };
        },
        processResults: function (data, params) {
          params.page = params.page || 1;
          return {
            results: data.items,
            pagination: {
              more: (params.page * 100) < data.total_count
            }
          };
        },
        cache: true,
        width: "100%"
      },
      placeholder: 'Search for an owner...'
    });
    $("#member_group_id").select2({
      placeholder: "Select a Group"
    });
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
    $('#password').pwstrength({'increase': true});
    $("form").submit(function(e){
      e.preventDefault();
      $(':input[type="submit"]').prop('disabled', true);
      submitForm(window.rCurrentPage, new FormData($("form")[0]), window.rReferer);
    });
  });

  $(document).ready(function() {
    initSearch();
  });
</script>
<script th:src="@{/assets/js/listings.js}"></script>
</body>
</html>